// Define variables for your color scheme

// For example:
$red: #cf222e;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1f883d;
$gray: #0E0000;
$light-gray: #F4F4F4;
$gold: #C9B037;
$silver: #808080;
$bronze: #cc6633;


.text-green {
    color: $green;
}

.text-red {
    color: $red;
}

.place-1 {
    color: $gold;
}

.place-2 {
    color: $silver;
}

.place-3 {
    color: $bronze;
}