<div class="homepage-container">
    <div class="table-header"> 
        <%= link_to @season do %>
            <h3>Current Season</h3>
        <% end %>
    </div>
    <%= render 'seasons/driver_standings_table', driver_standings: @season.latest_driver_standings, season: @season %>
</div>
