// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    width: 80vw;
}
.grid-item {
    padding: 0 16px
}
.old-elo, .new-elo {
    width: 52px;
}

.layout-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
}

body {
    background-color: white;
}

@font-face {
    font-family: "Formula1-Wide";
    src: url("fonts/Formula1-Regular-1.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Formula1-Wide";
    src: url("fonts/Formula1-Bold-4.ttf") format("truetype");
    font-weight: 900;
    src: url("fonts/Formula1-Black.ttf") format("truetype");
    src: url("fonts/Formula1-Bold_web.ttf") format("truetype");
    src: url("fonts/Formula1-Italic.ttf") format("truetype");
    src: url("fonts/Formula1-Wide.ttf") format("truetype");
}
@font-face {
    font-family: "Formula1-Wide";
    src: url("fonts/Formula1-Regular-1.ttf") format("truetype");
}
$torque-font: "Formula1-Wide";

div {
    font-family: 'Formula1-Wide' !important;
    font-weight: regular;
}

.underline {
    text-decoration: underline;
    color: $gold;
}
.current-driver-standings td {
    padding: 4px 8px;
}
.homepage-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.table, .table-header {
    display: flex;
    justify-content: space-around;
}
.table-driver {
    margin-right: 6rem !important;
}